.Country-Container
    width: 70%
    display grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 50px
    margin: 50px auto


.Country-Container div
    width: 100%
    padding: 10px
    height 100px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #5555

.Country-Container div h3
    color:#b3b3ff