.Clock
    width: 100%
    height 400px
    background: #444473
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Clock h1
    font-size: 100px
    color: #b3b3ff

.Clock p
    font-size: 100px